#img{
    height: 450px;
    width: 35%;
    margin: 45px auto;
    background-color: blue;
    display: flex;
    justify-content: space-around;
}

#name{
    height: 50px;
    width: 35%;
    margin: -45px auto;
    background-color: blue;
    display: flex;
    justify-content: space-around;
}
