#H{
border: 1px solid black;
height: 80px;
width: 99%;
}
#S{
    border: 1px solid black;
    height: 500px;
    width: 20%;
    float: left;

}
#C{
    border: 1px solid black;
    height: 500px;
    width: 79%;
    float: left;

}
#C1{
    border: 1px solid black;
    height: 80px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}
#C2{
    border: 1px solid black;
    height: 350px;
    width: 40%;
    margin-left: 5%;
    margin-top: 10px;
    float: left;

}
#C3{
    border: 1px solid black;
    height: 350px;
    width: 40%;
    margin-left: 55%;
    margin-top: 10px;

}
#F{
    border: 1px solid black;
    height: 80px;
    width: 99%;
    margin-top: 500px;
}